header{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    color: $white-brand;
}

nav{
  background-color: transparent;

}

.chamada{
  // width: 100vh;
  margin: 0 auto;
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white-brand;
  text-align: center;
}

.container{
  margin: 0 auto;
}

.missoes{
  margin-top: 150px;
 display: flex;
 justify-content: center;
 align-items: center;


  h2{
    color: $sub-title;
  }
}

.video_e_data{
  display: flex;
  justify-content: center;


}