.capa{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/capa_desktop.png");
    background-repeat: no-repeat;
    color: $white-brand;
}

.cursos{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/capa_desktop.png");
    background-repeat: no-repeat;
    color: $white-brand;

    .desperte_box{
      background-color: yellow;
    }
}

.outros{
  width: 100vw;
  background-color: #28228C;
  color: $white-brand;
}



form{
background-color: #ffffff;


}





.sobre, .palestras{
  width: 100vw;
  height: 100vh;
  color: $white-brand;
}

.palestras{
  .card-content{
    color:$gray-brand;
  }
}



nav{
  background-color: transparent;

}

.chamada{
  // width: 100vh;
  margin: 0 auto;
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white-brand;
  text-align: center;
}

.container{
  margin: 0 auto;
}

.empresa{
  width: 100vw;
  height:60vh;
  background-image: url("../img/foto_oficial_capa_desktop.png");
  background-repeat: no-repeat;
  margin-bottom: -130px;
  // text-align: center;

  .empresa_texto{
    color:$gray-brand;
}
}

.missoes_box{
  margin-top: 100px;
  width: 100vw;
  height: 40vh;
  background-color: #28228C;
  color: $light-gray;
}
.missoes_texto{
 display: flex;
 justify-content: center;
 align-items: center;
//  background-color: #28228C;


  h2{
    color: $sub-title;
  }
}

