
nav{
  background-color: #5000D7;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;

  ul{
    margin-left: 50vw;
  }

  li{
    padding-right:40px;
  }

}


.chamada {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 { color: #fff; }
}
